extends layout

block content
  h1= title
  p Willkommen zur #{title}. Bitte Token eingeben.
  form(action="/", method="post")
    input(type="text",name="token")
    button(type="submit",value="Senden") Senden
