extends layout

block head
    link(rel="stylesheet",href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css")
    link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css")
    link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")

block content
  #helpModal.modal.fade(role="dialog")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          h5.modal-title Hilfe
          button.close(type="button",aria-label="Close",data-dismiss="modal")
            span(aria-hidden="true") &times;
        .modal-body
          #accordion
            .card
              #headingOne.card-header
                h5.mb-0
                  button.btn.btn-link(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                    | Allgemeine Hilfe
              #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordion')
                .card-body
                  h2 Ansicht zurücksetzen
                  p Um die Ansicht auf den Ausgangspunkt, die Gebietsübersicht, zurückzusetzen, muss der Button in der linken oberen Ecke über der Hilfe gedrückt werden.
                  br
                  h2 Verschiedene Ansichten ein-/ausblenden
                  p In der oberen rechten Ecke können die Umrandungen der Gebiete und die eingetragenen Baumhaufen der verschiedenen Gruppen ein- und ausgeschaltet werden.
                  br
                  h2 Einstellungen
                  p In der oberen rechten Ecke unter der Hilfefunktion bei dem Zahnradsymbol sind die Einstellungen, in denen man zur Zeit nur ein und ausschalten kann, ob beim Hinzufügen eines neuen Baumhaufens das Fadenkreuz automatisch an die aktuelle Position springt.
            .card
              #headingTwo.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                    | Hilfe für Baumsammler
              #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
                .card-body
                  h2 Hinzufügen
                  p Zum Hinzufügen von einem neuen Baumhaufen den blauen Button „Haufen eintragen“ am unteren Rand drücken. Danach Überprüfen, ob das erschienene Fadenkreuz an der richtigen Position ist. Anschließend die ungefähre Baumgröße angeben:
                  p - 木: kleiner Baumhaufen mit weniger als 8 Bäumen
                  p - 林: mittlerer Baumhaufen mit zwischen 8 und 15 Bäumen
                  p - 森: großer Baumhaufen mit mehr als 15 Bäumen
                  p Zuletzt den grünen Button „Hinzufügen“ drücken. Danach sollte ein roter Baum in der Karte erscheinen. Falls nicht sofort ein Symbol angezeigt werden sollte, die Seite neu laden oder kurz warten.
                  p Wenn die Größe im nach hinein geändert werden soll, bitte einen neuen Baumhaufen eintragen und den alten löschen.
                  br
                  h2 Löschen
                  p Um einen falsch hinzugefügten oder verschobenen Baumhaufen zu löschen, das entsprechende Symbol in der Karte anklicken und „Löschen“ drücken. Anschließend verschwindet das Symbol nicht, sondern wird nur grau markiert, damit nichts unbeabsichtigt gelöscht werden kann. Diese grau markierten Bäume können in der Zentrale, beim Abgeben der Gebiete, endgültig nach Absprache gelöscht oder wiederhergestellt werden.
            .card
              #headingThree.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                    | Hilfe für LKW-(Mit-)Fahrer
              #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
                .card-body
                  h2 Abgeholt
                  p Wenn ein Baumhaufen mit dem LKW abgeholt wurde, das entsprechende Symbol anklicken und „Abgeholt“ drücken. Damit wird das Symbol grün. Falls ein Baumhaufen nicht vorhanden ist, trotzdem das Symbol auf „Abgeholt“ setzen.
                  br
                  h2 Hinzufügen
                  p Falls beim Herumfahren noch Baumhaufen auffallen, die nicht eingetragen sind, können diese auch noch hinzugefügt werden.
                  p Zum Hinzufügen von einem neuen Baumhaufen den blauen Button „Hinzufügen“ am unteren Rand drücken. Danach Überprüfen, ob das erschienene Fadenkreuz an der richtigen Position ist. Anschließend die ungefähre Baumgröße angeben:
                  p - 木: kleiner Baumhaufen mit weniger als 8 Bäumen
                  p - 林: mittlerer Baumhaufen mit zwischen 8 und 15 Bäumen
                  p - 森: großer Baumhaufen mit mehr als 15 Bäumen
                  p Zuletzt den grünen Button „Hinzufügen“ drücken. Danach sollte ein roter Baum in der Karte erscheinen. Falls nicht sofort ein Symbol angezeigt werden sollte, die Seite neu laden oder kurz warten.        
        .modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") Schließen
  #settingsModal.modal.fade(role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Einstellungen
          button.close(type="button",aria-label="Close",data-dismiss="modal")
            span(aria-hidden="true") &times;
        .modal-body
          .form-check
            input#flyto.form-check-input(type="checkbox",checked)
            label.form-check-label(for="flyto") Flyto aktivieren
        .modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") Schließen
  #full.d-flex.flex-column.flex-sm-column.flex-md-column.flex-lg-row.flex-xl-row.align-items-stretch
    .flex-grow-1(style="position:relative;")
      #map(style="position:absolute;")
    #mainDialog.flex-grow-0.dialog
      button.openDialog.btn.btn-lg.btn-primary.btn-block(type='button',open='add') Haufen eintragen
    #addDialog.flex-grow-0.dialog.inactive
      h5 Haufen eintragen
      .form-group
        label(for='size') Bitte Größe auswählen
        br
        p klein: weniger als 8 Bäume; mittel: 8-15 Bäume; groß: mehr als 15 Bäume
        br
        #size.btn-group.btn-group-toggle(data-toggle='buttons')
          +radio-button(1,true) 木
          +radio-button(2) 林
          +radio-button(3) 森  
      .btn-group(role='group')
        button.openDialog.btn.btn-lg.btn-secondary(type='button',open='main') Abbrechen      
        button#add.btn.btn-lg.btn-primary(type='button') Hinzufügen
    #editDialog.flex-grow-0.dialog.inactive
      p Größe:
      .progress
        #editSize.progress-bar(role="progressbar",aria-valuenow="3",aria-valuemin="1",aria-valuemax="3") 
      table.table
        thead
          tr
            th(scope="col") Zeit
            th(scope="col") Aktion
        tbody#editLog
      case permissionLevel
        when 3
          .input-group
            select#user.form-control
              option loading...
      .btn-group(role='group')
        button.openDialog.btn.btn-lg.btn-secondary(type='button',open='main') Abbrechen  
        case permissionLevel
          when 1
            button#delete.btn.btn-lg.btn-danger(type='button') Löschen
          when 2
            button#collect.btn.btn-lg.btn-success(type='button') Abgeholt
          when 3
            button#delete.btn.btn-danger(type='button') Löschen
            button#collect.btn.btn-success(type='button') Abgeholt
            button#assign.btn.btn-primary(type='button') Zuweisen


  .fixed-top
    #alert

    script const token = '#{token}';
    script const secLevel = '#{permissionLevel}';
    script(src='/javascripts/map.js')
    //script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js")
    //script(src="/javascripts/leaflet.CenterCross.js")
    script(src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js")
