extends layout

block head
    link(rel="stylesheet",href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js")
    style.
      html,body {
        padding: 0px;
        margin: 0px;
        height: 100%;
      }
      #map {
        width: 100%;
        height: 100%;
      }
      .fixed-bottom {
        margin: 25px 15px;
      }

block content
  //h1= title
  //p Dein Token ist: #{token}

  //button.btn.btn-primary(onclick="getLocation()") Read GPS
  //#demo

  #map

  div.fixed-bottom
    button.btn.btn-primary.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#exampleModal') Haufen eintragen

  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Haufen eintragen
          |         
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |       
        .modal-body
          div.btn-group(role='group')
            button.btn.btn-secondary 木
            button.btn.btn-secondary 林
            button.btn.btn-secondary 森
        |       
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
          |         
          button.btn.btn-primary(type='button') Hinzufügen


  script(type='text/javascript').
    var x = document.getElementById("demo");
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
      "<br>Longitude: " + position.coords.longitude;
    }

    var map = L.map('map').fitWorld();

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: 'mapbox.streets'
    }).addTo(map);

    function onLocationFound(e) {
      var radius = e.accuracy / 2;

      L.marker(e.latlng).addTo(map)
        .bindPopup("You are within " + radius + " meters from this point").openPopup();

      L.circle(e.latlng, radius).addTo(map);
    }

    function onLocationError(e) {
      alert(e.message);
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({setView: true, maxZoom: 16});
