extends layout

block head
    link(rel="stylesheet",href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css")
    link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css")
    link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")

block content
  #helpModal.modal.fade(role="dialog")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          h5.modal-title Hilfe
          button.close(type="button",aria-label="Close",data-dismiss="modal")
            span(aria-hidden="true") &times;
        .modal-body
          p Hilfetext
        .modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") Schließen
  #full.d-flex.flex-column.flex-sm-column.flex-md-column.flex-lg-row.flex-xl-row.align-items-stretch
    .flex-grow-1
      #map
    #mainDialog.flex-grow-0.dialog
      button.openDialog.btn.btn-lg.btn-primary.btn-block(type='button',open='add') Haufen eintragen
    #addDialog.flex-grow-0.dialog.inactive
      h5 Haufen eintragen
      .form-group
        label(for='size') Bitte Größe auswählen
        br
        #size.btn-group.btn-group-toggle(data-toggle='buttons')
          +radio-button(1,true) 木
          +radio-button(2) 林
          +radio-button(3) 森  
      .btn-group(role='group')
        button.openDialog.btn.btn-lg.btn-secondary(type='button',open='main') Abbrechen      
        button#add.btn.btn-lg.btn-primary(type='button') Hinzufügen
    #editDialog.flex-grow-0.dialog.inactive
      p Größe:
      .progress
        #editSize.progress-bar(role="progressbar",aria-valuenow="3",aria-valuemin="1",aria-valuemax="3") 
      table.table
        thead
          tr
            th(scope="col") Zeit
            th(scope="col") Aktion
        tbody#editLog
      case permissionLevel
        when 3
          .input-group
            select#user.form-control
              option loading...
      .btn-group(role='group')
        button.openDialog.btn.btn-lg.btn-secondary(type='button',open='main') Abbrechen  
        case permissionLevel
          when 1
            button#delete.btn.btn-lg.btn-danger(type='button') Löschen
          when 2
            button#collect.btn.btn-lg.btn-success(type='button') Abgeholt
          when 3
            button#delete.btn.btn-danger(type='button') Löschen
            button#collect.btn.btn-success(type='button') Abgeholt
            button#assign.btn.btn-primary(type='button') Zuweisen


  .fixed-top
    #alert

    script const token = '#{token}';
    script const secLevel = '#{permissionLevel}';
    script(src='/javascripts/map.js')
    //script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js")
    //script(src="/javascripts/leaflet.CenterCross.js")
    script(src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js")