extends layout

block head
    link(rel="stylesheet",href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js")
    script(src="/javascripts/leaflet.CenterCross.js")
    style.
      html,body,#full {
        padding: 0px;
        margin: 0px;
        height: 100%;
      }
      #mainDialog {
        flex-basis: auto;
      }
      .dialog {
        padding: 10px;
        transition: flex-basis 200ms ease-in-out;
      }
      .inactive {
        flex-basis: 0px;
        display: none;
      }

block content
  #full.d-flex.flex-column.align-items-stretch
    .flex-grow-1
      #map
    #mainDialog.flex-grow-0.dialog
      button.openDialog.btn.btn-primary.btn-lg.btn-block(type='button',open='add') Haufen eintragen
    #addDialog.flex-grow-0.dialog.inactive
      h5 Haufen eintragen
      .form-group
        label(for='size') Bitte Größe auswählen
        br
        #size.btn-group.btn-group-toggle(data-toggle='buttons')
          +radio-button(1,true) 木
          +radio-button(2) 林
          +radio-button(3) 森  
      button.openDialog.btn.btn-secondary(type='button',open='main') Abbrechen      
      button#add.btn.btn-primary(type='button') Hinzufügen
    #editDialog.flex-grow-0.dialog.inactive
      button.openDialog.btn.btn-secondary(type='button',open='main') Abbrechen  
 

  .fixed-top
    #alert

  #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addModalLabel.modal-title Haufen eintragen
          |         
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |       
        .modal-body
          div.form-group
            label(for='size') Bitte Größe auswählen
            br
            #size.btn-group.btn-group-toggle(data-toggle='buttons')
              +radio-button(1,true) 木
              +radio-button(2) 林
              +radio-button(3) 森
        |       
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
          |         
          button#add.btn.btn-primary(type='button') Hinzufügen
  #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editModalLabel', aria-hidden='false')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#editModalLabel.modal-title Haufen bearbeiten
          |         
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |       
        .modal-body

        |       
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
          |         
          button#save.btn.btn-primary(type='button') Speichern
          button#delete.btn.btn-danger(type='button') Löschen
          button#collected.btn.btn-success(type='button') Abgeholt

  script const token = '#{token}';
  script(src='/javascripts/map.js')