//- Button mixin
mixin button(style, href, size)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var href = (typeof href === 'undefined') ? "#" : href
    case size
        when "large"
            - size = "btn-lg"
        when "small"
            - size = "btn-sm"
        when "mini"
            - size = "btn-xs"
 
    a( class=["btn", "btn-" + style, size], href=href )
        block

mixin radio-button(id,active)
    - var isactive = (typeof style === 'undefinied') ? false : active
    label(class=['btn','btn-secondary',isactive?'active':''])
        input(type="radio",name="option",autocomplete="off",id=id,checked=isactive)
        block

mixin alert(style)
    div(class=['alert','alert-'+style,'alert-dismissible','fade','show'],role='alert')
        button(type='button',data-dismiss='alert',aria-label='close')
            span(aria-hidden='true') &times;